 <!-- code a Hero / Banner section -->
  <div class="hero">
    <div class="hero-inner">
        <h1>CamBrunch</h1>

        <h2>The quest for the best brunch in Cambridge</h2>
        <!-- <a href="https://github.com/MaddieLewis" class="btn"></a> -->
    </div>
  </div>
