  <div class="hero">
    <div class="hero-inner">
        <h1>CamBrunch</h1>
        <h2>The quest for the best brunch in Cambridge</h2>
    </div>
  </div>
<div class="">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></div>
